<h2>Reporter output</h2><table><tr><td><div "result">The user goes to the login page of the web site (PASSED : 18s)</div></td></tr>
<tr><td><div "result">The user enters username &quot;Guatemala&quot; (PASSED : 3s)</div></td></tr>
<tr><td><div "result">The user enters password &quot;Mexico&quot; (PASSED : 3s)</div></td></tr>
<tr><td><div "result">The user clicks on login (PASSED : 0s)</div></td></tr>
<tr><td><div "result">The user must see the welcome page (PASSED : 0s)</div></td></tr>
</table>